/*** Headers ***/
form{
    ul {
        &#progressbar {
            li {
                display: none;
                &.active {
                    display:block;
                    // >h4 {
                        
                    // }
                }
            }
        }
    }

  fieldset {
    display: none;
    &.active {
      display: block;
    }
  }
}
form {
  input {
    font-size: 16px;
  }
}

.ih-avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.ih-avatar-upload .ih-avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.ih-avatar-upload .ih-avatar-edit input {
  display: none;
}
.ih-avatar-upload .ih-avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.ih-avatar-upload .ih-avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.ih-avatar-upload .ih-avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.ih-avatar-upload .ih-avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.ih-avatar-upload .ih-avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#subscription_start, #subscription_end {
  font-weight: 700;
}
.ih-hidden {
  display: none;
}