ul.schedule_picker  {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 200px;

    li {
        position: relative;
        margin:0;
        background-color: $scheduleMarkerColor;
        border: 2px #ddd solid;
        content: " ";
        flex: 1;
        border-radius: 5px;

        &:hover, &.hover_effect {
            flex: 2;
            background-color: darken($scheduleMarkerColor, 10%);
            transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }

        span.scheduleLabelTop {
            position        : absolute;
            top             : 5px;
            left            : -5px;
            writing-mode     : vertical-rl;
            text-orientation : mixed;
            color           : white;
            text-shadow      : 1px 1.3px 2px #999;
            font-size        : 0.6em;
        }

        span.scheduleLabelBottom {
            position        : absolute;
            bottom          : 5px;
            left            : -5px;
            writing-mode     : vertical-rl;
            text-orientation : mixed;
            color           : white;
            text-shadow      : 1px 1.3px 2px #999;
            font-size        : 0.6em;
        }
    }
}

@media screen and (min-width:320px) and ( max-width:776px ) {
    ul.schedule_picker {
        li {
            border: 0.5px #ddd solid;
            &:hover, &.hover_effect {
                flex: 1.5;
                transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            }

            span.scheduleLabelTop {
                top             : 5px;
                left            : -6.5px;
                font-size       : 0.5em;

                &:hover {
                    font-size: 0.65em;
                    left:0;
                }
            }

            span.scheduleLabelBottom {
                bottom          : 5px;
                left            : -6.5px;
                font-size       : 0.5em;

                &:hover {
                    font-size: 0.65em;
                    left:0;
                }
            }
        }
    }
}