table.ih-info-table {
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #cc00bb;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
       0px 10px 20px rgba(0,0,0,0.05),
       0px 20px 20px rgba(0,0,0,0.05),
       0px 30px 20px rgba(0,0,0,0.05);
    tr {
       &:hover {
        background: #f4f4f4;
        
        td {
          color: #555;
        }
      }
    }
    th, td {
      color: #999;
      border: 1px solid #eee;
      padding: 12px 35px;
      border-collapse: collapse;
    }
    th {
      background: #cc00bb;
      color: #fff;
      text-transform: uppercase;
      font-size: 12px;
      &.last {
        border-right: none;
      }
    }
}
.color-primary {
	color: #9037ff !important;
}
.pricing-table.boxed,
.pricing-table.emphasis {
  box-shadow: 1px 2px 15px 1px #aaa;
  border-radius: 5px;
}