/****** PLACE YOUR CUSTOM STYLES HERE ******/
@font-face {
    font-family: 'LeagueGothic-CondensedItalic';
    src: url('/fonts/LeagueGothic-CondensedItalic.woff') format('woff'),
        url('/fonts/LeagueGothic-CondensedItalic.otf') format('opentype');
}

@font-face {
    font-family: 'LeagueGothic-CondensedRegular';
    src: url('/fonts/LeagueGothic-CondensedRegular.woff') format('woff'),
        url('/fonts/LeagueGothic-CondensedRegular.otf') format('opentype');
}

@font-face {
    font-family: 'LeagueGothic-Italic';
    src: url('/fonts/LeagueGothic-Italic.woff') format('woff'),
        url('/fonts/LeagueGothic-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'LeagueGothic-Regular';
    src: url('/fonts/LeagueGothic-Regular.woff') format('woff'),
        url('/fonts/LeagueGothic-Regular.otf') format('opentype');
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "LeagueGothic-Italic", "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-kerning: normal;
}

.bg-image-adjust-right {
    background-position: 90% 50% !important;
}

.bg-image-adjust-left {
    background-position: 10% 50% !important;
}

.bg-image-adjust-top {
    background-position: top 95% left 0% !important;
}

.pricing-table span.price {
    font-size: 40px;
}

.hover {
    -webkit-user-select: none;
    -webkit-touch-callout: none;        
}